<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @calendar.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @calendar.name %>
</p>

<%= render @calendar.events %>

<%= link_to 'New Event', new_event_path(@calendar) %>
<br />
<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
